.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .title {
    color: rgb(65, 65, 68);
    font-family: var(--font-mono);
    font-weight: 400;

    .focus {
      font-weight: 700;
      color: seagreen;
    }
  }

  .subcopy {
    padding: 0.5rem;
  }

  .equation {
    margin: 2rem;

    .first_number,
    .second_number,
    .operator {
      font-family: inherit;
      font-size: 2rem;
    }
  }

  .answer {
    width: 9rem;
    margin: 1rem;
    padding: 1rem;

    border-radius: 3rem;
    border: 0.15rem solid rgb(65, 65, 68);

    font-size: 1.5rem;
    text-align: center;
  }

  .submit {
    margin-top: 1rem;
    border: none;
    background-color: transparent;

    font-family: inherit;
    font-size: 1.5rem;

    transition: all 0.2s ease-in-out;
  }

  .submit:hover {
    cursor: pointer;
    border-bottom: 0.3rem solid seagreen;
    font-weight: 600;
    color: seagreen;
    font-size: 1.8rem;
  }
}
